@import "../../_normalize";
@import "../../_clearfix";

$fs_ms: 'Microsoft Yahei';
$th_bgc: #4FBA8F;
$tr_even_bgc: #EFF0EF;
$bd_c: #f2f2f2;
$bd_c_ccc: #ccc;

*{
    box-sizing: border-box;
}
body{
    width: 600px;
    font: 12px/1.8 $fs_ms;
    margin: 200px auto;
}

#app::before{
    content: 'search';
    font: 14px/1.5 $fs_ms;
    padding-left: 10px;
}
.search{
    width: 200px;
    border: 1px solid $bd_c_ccc;
    margin: 0 0 15px 10px;
    outline: none;
    &:active,
    &:focus{
        border: 1px solid $th_bgc;
    }
}

table{
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    td{
        padding: 0;
    }
}

table{
    border: 1px solid $bd_c;
    user-select: none;
    cursor: default;
    thead>tr{
        color: #fff;
        background-color: $th_bgc;
    }
    tr{
        text-align: center;
        border: 1px solid $bd_c;
    }
    tbody tr:nth-child(even){
        background-color: $tr_even_bgc;
    }
    tbody>tr:hover{
        background-color: darken($tr_even_bgc, 10%);
    }
    th+th,
    td+td{
        border-left: 1px solid $bd_c;
        border-right: 1px solid $bd_c;
    }
    td{
        width: 33.3333%;
    }
}
